body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
  }
  
  .carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.8s ease; /* Add transition for smooth slide effect */
  }
  
  .carousel-slide {
    flex: 0 0 100%;
  }
  
  .carousel-slide img {
    width: 100%;
    height: auto;
  }
  
  .carousel-prev,
  .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4rem;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    z-index: 1;
    transition: color 0.3s ease; /* Add transition for smooth color change */
  }
  
  .carousel-prev:hover,
  .carousel-next:hover {
   color: rgba(205, 205, 205, 0.8); /* Change the background color on hover */
  }
  
  .carousel-prev {
    left: 0;
  }
  
  .carousel-next {
    right: 0;
  }
  